<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Disputool</title>
  <link href="/static/css/clean-blog.min.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/simple-sidebar.css" rel="stylesheet">
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="/static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <!--<link href="/static/css/sb-admin.css" rel="stylesheet">-->
  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="/static/lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
 <!-- Nivo Slider Theme -->
  <link href="/static/css/nivo-slider-theme.css" rel="stylesheet">


  <!-- Responsive Stylesheet File -->
  <link href="/static/css/responsive.css" rel="stylesheet">
  <link href="/static/css/my_style.css" rel="stylesheet">

  <!-- Custom styles for this template -->
<!-- <link href="/static/css/style.css" rel="stylesheet">-->

</head>

<body>

  <header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <!-- Navigation -->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <!-- Brand -->
                <a class="navbar-brand  sticky-logo" target="_blank" href="http://www.uni.lu"><img src="/static/images/UL_logo_80x80.png" alt="University of Luxembourg Logo" title="University of Luxembourg"/>	</a>
                <a class=" navbar-brand page-scroll sticky-logo floatright" target="_blank" href="http://www.c2dh.uni.lu"><img src="/static/images/logo_C2DH_web.jpg" alt="C2DH Logo" title="C2DH"/ height = "80"></a>
                <a class="navbar-brand page-scroll sticky-logo floatright" target="_blank" href="http://dhh.uni.lu"><img src="/static/images/dtulogo.png" alt="Digital history and Hermunetics" title="Digital history and Hermunetics"/ height = "80"></a>

              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class=" main-menu bs-example-navbar-collapse-1" id="navbar-example">
                <ul class="nav navbar-nav navbar-right" id ="main_menu">
                  <li class="active">
                    <a class="" href="/">Home</a>
                  </li>
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Explore<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href=/explore >All arguments</a></li>
                      <li><a class="" href="/ner">Named Entities</a></li>
                    <!--  <li><a href=/index >By Year</a></li>-->
                  </ul>
                  </li>
                  <li>
                    <a class="" href="/form">Test Model</a>
                  </li>
                  <li>
                    <a class="active" href="">Legal Notice</a>
                  </li>
                 <li>
                    <a class="" href="/contact">Contact</a>
                  </li>
                </ul>
              </div>

              <!-- navbar-collapse -->
            </nav>
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->
  </header>


  <div class="d-flex" id="wrapper">

    <div id="page-content-wrapper" >

  <div class="container" >

	<div class="container-fluid" width= '80%' >
 <div class="mdb-lightbox debates-sqr" >
  <div class="row">
    <div class="col-md-12">

<ul>
<li>Coordinator: Shohreh Haddadan</li>
<li>Technical advisor: Lars Wieneke</li>
</ul>


<p>This site is hosted by the <a href="https://www.uni.lu/">University of Luxembourg</a>.</p></br>
<h4>Terms of use</h4>
<p>Consultation of this site is subject to the terms and conditions set out below. By consulting the pages of this site, you agree to respect these terms and conditions. You are solely responsible for the selection, use and interpretation of the data which you consult, search and transmit on the Internet.</p>
<p>We reserve the right to modify this legal notice at any time. By using this site, you agree to abide by the terms of use set out in the most recent version of the legal notice available on the website at the time of use.</p>
<h4>Copyright</h4>
<p>All the information available on the website <a href="http://disputool.uni.lu/">https://disputool.uni.lu</a> is protected by copyright.

  The use of the content on this website is allowed for academic purposes with providing a link to the website.


<h4>Data privacy</h4>




<br>

<h5>Your personal data and our website</h5>
<p>We do not keep your personal information.</p>
<h4>Cookies</h4>
<p>No cookies are used on this website.</p>

<h4>Applicable law and attribution of jurisdiction</h4>
<p>Luxembourg law is applicable and the courts of the Grand Duchy of Luxembourg have exclusive jurisdiction over any dispute regarding this site.</p>


<h4 > Copyright Acknowlegdements</h4>
<p>
  We acknowledge the copyright of the picture used for Sara Palin in terms of  <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a><br>
  by Gage Skidmore 2.jpg<br>
  Created: 11 February 2012
</p>

</div >
</div></div>        </main><!-- /.main -->
                  <!--<aside id="secondary" class="sidebar widget-area" role="complementary">-->










</div><!--/mdb-lightbox-->

</div>
<div id="dslc-theme-content"><div id="dslc-theme-content-inner"><p>Doctoral Training Unit ‘Digital History and Hermeneutics’<br />
Luxembourg Centre for Contemporary and Digital History (C²DH) – University of Luxembourg<br />
2, Avenue de l’Université<br />
L-4365 Esch-sur-Alzette (LUXEMBOURG)<br />
Tel.: +352 46 66 44 1<br />
<a href="mailto:c2dh@uni.lu">c2dh@uni.lu</a></p>
<p>This site is hosted by the <a href="https://www.uni.lu/">University of Luxembourg</a>.</p>
<h4>Terms of use</h4>
<p>Consultation of this site is subject to the terms and conditions set out below. By consulting the pages of this site, you agree to respect these terms and conditions. You are solely responsible for the selection, use and interpretation of the data which you consult, search and transmit on the Internet.</p>
<p>The C²DH reserves the right to modify this legal notice at any time. By using this site, you agree to abide by the terms of use set out in the most recent version of the legal notice available on the website at the time of use.</p>
<h4>Copyright</h4>
<p>All the information available on the website <a href="https://ranke2.uni.lu/">https://dhh.uni.lu</a> is protected by copyright. Unless otherwise indicated, reproduction of texts from this site for non-commercial purposes and especially in educational situations is permitted, subject to the following three conditions being met:</p>
<ul>
<li style="font-weight: 400;">Free dissemination;</li>
<li style="font-weight: 400;">Respect for the integrity of the reproduced documents: no modification or alteration of any kind;</li>
<li style="font-weight: 400;">Explicit mention of the site <a href="https://ranke2.uni.lu/">https://dhh.uni.lu</a> as a source and statement that the rights of reproduction are reserved and limited.</li>
</ul>
<p>Any exception to these rules shall be subject to the prior written approval of the University of Luxembourg and the author of the website content.</p>
<p>Photographic credits: unless otherwise stated, the photographs on this website are protected by copyright and are the property of the University of Luxembourg.</p>
<p>Content provided by the C²DH is not necessarily comprehensive, exhaustive, accurate or up to date. If, despite our best efforts, errors were to be found, the C²DH may not be held responsible. The C²DH would nevertheless appreciate being informed of any such errors.</p>
<h4>Policy regarding links</h4>
<p>Links to external websites or other sources do not constitute a recommendation or guarantee on the part of the C²DH regarding their content, which remains the exclusive responsibility of their authors.</p>
<p>The C²DH is happy to authorise any website (source site) to insert, for non-commercial purposes, a hyperlink to the home page of the site <a href="https://ranke2.uni.lu/">https://dhh.uni.lu</a> or to one of its inner pages (sites or target pages), provided that:</p>
<ul>
<li style="font-weight: 400;">the source site does not disseminate information of a political, religious, pornographic or xenophobic nature or which might offend the sensibilities of others;</li>
<li style="font-weight: 400;">the target page of the site <a href="https://ranke2.uni.lu/">https://dhh.uni.lu</a> does not launch in a frame as part of the source site but in a new window.</li>
</ul>
<p>The C²DH reserves the right to refuse this permission.</p>
<p>The C²DH would appreciate being informed by email (<a href="mailto:c2dh@uni.lu">c2dh@uni.lu</a>) of the creation of any links to the site <a href="https://ranke2.uni.lu/">https://dhh.uni.lu</a>.</p>
<h4>Data privacy</h4>
<h5>Your personal data and our website</h5>
<p>The data collected on our site stem exclusively from personal information provided on a voluntary basis, for example when you subscribe to our newsletter.</p>
<p>It will not be shared with any organisation &#8211; commercial or otherwise excepted in case of external consultancy in relation with the website. In such case appropriate measures will be implemented.</p>
<p>We will never divulge your personal data for direct marketing purposes.</p>
<p>We put in place measures to ensure that your data are kept up-to-date and processed securely in compliance with the General Data Protection Regulation 2016/679 (hereafter “GDPR”).</p>
<p>Our purpose is the management of public relations (management of contacts and public relations, social and professional for the organisation).</p>
<p>According to the GDPR you have a right to access, rectify, erase, object to or restrict the processing related to your personal data. You can exercise your rights by sending a message to <a href="mailto:c2dh@uni.lu">c2dh@uni.lu</a>.</p>
<p>We do not keep your personal information for longer than necessary for the purposes for which we collected it. However, we may keep your information for a longer period for historical, statistical or scientific purposes with the appropriate safeguards in place.</p>
<h4>Cookies</h4>
<p>The C²DH uses cookies on its website for its technical functioning and for gathering statistics.</p>
<p>The legal basis for processing personal data by using session cookies is Art. 6 para. 1 point f) GDPR (legitimate interest). Without the use of the session cookies especially, several functions could not be offered on our website.</p>
<p>A cookie is a small piece of data that a website stores on the visitor’s computer or mobile device.</p>
<p>The information on this page lists the cookies that this website uses and describes their purpose. You will also find some more detail here about cookies relating to our social media channels and Google Analytics, the service we use for our statistics.</p>
<p><strong>Social media cookies</strong></p>
<p>The C²DH is active on the following social media platforms: Facebook, Twitter, LinkedIn, and Vimeo. These communities strengthen our online presence and visibility.</p>
<ul>
<li style="font-weight: 400;">The C²DH website does not set cookies with the display of links to our social media channels when you are browsing our website.</li>
<li style="font-weight: 400;">You can watch videos on this site, which we upload on our Vimeo page.</li>
</ul>
<p><strong>Session cookies</strong></p>
<p>This site uses session cookies to ensure the correct usage of the website. These cookies are deleted after the session.</p>
<p><strong>Persistent cookies</strong></p>
<p>Persistent cookies are saved on your computer and are not deleted automatically when you close your browser, unlike a session cookie, which is deleted when you close your browser.</p>
<h4>Google Analytics</h4>
<ul>
<li style="font-weight: 400;">Google Analytics is a service which monitors and evaluates the effectiveness and efficiency of the C²DH website.</li>
<li style="font-weight: 400;">This platform enables the protection of end-user personal data thanks to features such as IP address de-identification and a mechanism for users to opt-out so that their browsing is not processed for analytics purposes.</li>
<li style="font-weight: 400;">Google provides information about the cookies used by Google Analytics.</li>
<li style="font-weight: 400;">The cookies used by Google Analytics will be transmitted to and stored by Google on servers in the United States.</li>
</ul>
<h4>Privacy measures</h4>
<p>Google Analytics is configured to use the domain “<a href="https://ranke2.uni.lu/">dhh.uni.lu</a>” and to store first-party cookies that expire after 2 years.</p>
<p>Cookies are used by the C²DH to track the following information about visitors. We use this information to prepare aggregated, anonymous statistics reports of visitor activity:</p>
<ul>
<li style="font-weight: 400;">IP address (masked)</li>
<li style="font-weight: 400;">Location: country, region, city, approximate latitude and longitude (Geolocation)</li>
<li style="font-weight: 400;">Date and time of the request (visit to the site)</li>
<li style="font-weight: 400;">Title of the page being viewed (Page Title)</li>
<li style="font-weight: 400;">URL of the page being viewed (Page URL)</li>
<li style="font-weight: 400;">URL of the page that was viewed prior to the current page (Referrer URL)</li>
<li style="font-weight: 400;">Screen resolution of user’s device</li>
<li style="font-weight: 400;">Time in local visitor’s time-zone</li>
<li style="font-weight: 400;">Files that were clicked and downloaded (Download)</li>
<li style="font-weight: 400;">Links to an outside domain that were clicked (Outlink)</li>
<li style="font-weight: 400;">Pages generation time (the time it takes for webpages to be generated by the webserver and then downloaded by the visitor: Page speed)</li>
<li style="font-weight: 400;">Main language of the browser being used (Accept-Language header)</li>
<li style="font-weight: 400;">Browser version, browser plugins (PDF, Flash, Java, …) operating system version, device identifier (User-Agent header)</li>
<li style="font-weight: 400;">Language of the visited page</li>
<li style="font-weight: 400;">Campaigns</li>
<li style="font-weight: 400;">Site Search</li>
<li style="font-weight: 400;">Events</li>
</ul>
<p><strong>Do not track preferences</strong></p>
<p>Do not track is a function that allows visitors to opt out from being tracked by websites for any purpose including the use of analytics services, advertising networks and social platforms. Do not track options are available in a number of browsers including:</p>
<p><a href="https://support.mozilla.org/en-US/kb/how-do-i-turn-do-not-track-feature">Firefox</a><br />
<a href="https://support.microsoft.com/en-us/hub/4230784/internet-explorer-help#ie=ie-11">Internet Explorer</a><br />
<a style="background-color: #ffffff;" href="https://support.google.com/chrome/answer/114836?hl=en&amp;ref_topic=3421433">Chrome</a><br />
<a href="https://help.apple.com/safari/mac/9.0/#/sfri40732">Safari</a><br />
<a style="background-color: #ffffff;" href="https://help.opera.com/en/presto/be-safe-and-private/#notrack">Opera</a></p>
<ul>
<li style="font-weight: 400;">If you enable do not track in your web browser, Google Analytics will respect your choice;</li>
<li style="font-weight: 400;">If you have enabled the do not track function, you will not be tracked. This is in addition to your opting-out of the aggregation and analysis of data for our website statistics;</li>
<li style="font-weight: 400;">If you have not enabled the do not track option but you choose to opt-out, the cookie ‘ga-disable-UA’ will be stored in your browser. All visitors with a ga-disable-UA cookie will not be tracked by Google Analytics;</li>
<li style="font-weight: 400;">If you have disabled all cookies from your browser, we will still collect some general data about your browsing (e.g. a record of a visitor to our website) but they will be less accurate and your visit will not be tracked.</li>
</ul>
<p><strong>Restricted access to information</strong></p>
<p>All analytics data communication is encrypted via HTTPS protocol. The analytical reports generated can only be accessed through by authorised University staff dealing with Google Analytics or by duly authorised external sub-contractors, who may be required to analyse, develop and/or regularly maintain certain websites.</p>
<p><strong>Masking of IP addresses</strong></p>
<p>Note: Institution, city and country origin are determined from the full IP, then stored and aggregated before a mask is applied. Google Analytics uses an IP de-identification mechanism that automatically masks a portion of each visitor’s IP (Internet Protocol), effectively making it impossible to identify a particular visitor via the sole IP address.</p>
<p><strong>Visitor log</strong></p>
<p>Google Analytics automatically deletes visitors’ logs after 25 months. Anonymised and aggregated data are stored for an indefinite period by the University for analysis purposes.</p>
<p><strong>Contact</strong></p>
<p>Specific questions about the storage and use of Google Analytics data by the University can be sent to us by contacting us at <a href="mailto:c2dh@uni.lu">c2dh@uni.lu</a>.</p>
<h4>Applicable law and attribution of jurisdiction</h4>
<p>Luxembourg law is applicable and the courts of the Grand Duchy of Luxembourg have exclusive jurisdiction over any dispute regarding this site.</p>
<h4>Contact</h4>
<p><a href="mailto:c2dh@uni.lu">c2dh@uni.lu</a></p>
</div></div>        </main><!-- /.main -->

 <!-- Start Footer bottom Area -->
  <footer>
    <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                      <img src="/static/images/logo.png" width = "300px"/>
                </div><!-- ford-logo -->




              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
		<!--<h4>information</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <div class="footer-contacts">
                  <p><span>Tel:</span> +123 456 789</p>
                  <p><span>Email:</span> contact@example.com</p>
                  <p><span>Working Hours:</span> 9am-5pm</p>
                </div>-->
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
               <!-- <h4>Instagram</h4>
                <div class="flicker-img">
                  <a href="#"><img src="img/portfolio/1.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/2.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/3.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/4.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/5.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/6.jpg" alt=""></a>
                </div>-->



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-area-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="copyright text-center">
              <p>
                Copyright © <a href="http://www.uni.lu">Université du Luxembourg (2019)</a>. All rights reserved.</br>
	        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </p>
            </div>
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
              -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="/static/vendor/chart.js/Chart.min.js"></script>
  <script src="/static/vendor/datatables/jquery.dataTables.js"></script>
  <script src="/static/vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
<!--  <script src="/static/js/sb-admin.min.js"></script>-->

  <!-- Demo scripts for this page-->
  <script src="/static/js/demo/datatables-demo.js"></script>
  <script src="/static/js/demo/chart-area-demo.js"></script>
	<script src="/static/js/clean-blog.min.js"></script>
  <script src="/static/lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
 <script src="/static/js/main.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
