

<!DOCTYPE html>
<html lang="en">

<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Arguments in Presidential Elections Demo</title>

  <!-- Bootstrap core CSS -->


    


 <link rel="stylesheet" href="/static/css/jqcloud.min.css">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/simple-sidebar.css" rel="stylesheet">

<style>

div.filter
{
  

}
</style>
</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
     <div class="sidebar-heading">Options </div>
      <div class="list-group list-group-flush">
	<a href="/explore" class="list-group-item list-group-item-action bg-light">Explore All Arguments</a>
	<a href="/ner" class="list-group-item list-group-item-action bg-light">Named Entities</a>
	<hr>

	<a href="/form" class="list-group-item list-group-item-action bg-light">Test Model</a>
        
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
	  

	  
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
           
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
 <div class="row">
 <!-- <div class="col-sm-8"><div id="word_cloud">
	
    </div>-->
 <div class="col-sm-8"><div id="word_cloud_small">
	
    </div>

<!--<div class="col-sm-8">
 <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Arguments</div>
          <div class="card-body">
            <canvas id="ner_chart" width="600" height="400"></canvas>
          </div>
          <div class="card-footer small text-muted"></div>
        </div>

	</div>
</div>

<div class="col-sm-8">
 <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Arguments</div>
          <div class="card-body">
            <canvas id="bar_chart" width="600" height="400"></canvas>
          </div>
          <div class="card-footer small text-muted"></div>
        </div>

	</div>
</div>-->




</div>

  <div class="col-sm-4" >
<h2>Filter data</h2>
<div class = 'filter'>
<form method="POST">
	<h3>Based on Year:</h3>

	<div >
	
	 	{% for year in years: %}
		
		{%if year in filtered_years%}

			<input type="checkbox" class ="form-check-input" name="year" value={{year}} checked > {{year}}</input>
			{%else%}
			<input type="checkbox" class ="form-check-input" name="year" value={{year}} > {{year}}</input>
			{% endif %}
		<br>
	       

		{% endfor %}
	 </div>
<h3>Based on NER Type:</h3>
	<div >
	
	 	{% for tag in tags: %}
			{%if tag in filtered_tags%}

			<input type="checkbox" class ="form-check-input"  name="tag" value={{tag}} checked> {{tag}}</input>
			{%else%}
			<input type="checkbox" class ="form-check-input"  name="tag" value={{tag}} > {{tag}}</input>
			{% endif %}


		<br>
	       
		{% endfor %}
		</div>
	<h3>Based on Speaker:</h3>
	<div >
	
	 	{% for name in names: %}
		{%if name in filtered_names%}

			<input type="checkbox" class ="form-check-input" name="name" value='{{name}}' checked> {{name}}</input>
			{%else%}
			<input type="checkbox" class ="form-check-input" name="name" value='{{name}}' > {{name}}</input>
			{% endif %}

		
		<br>
		
		{% endfor %}
	</div>
	
    	<input  class="btn btn-primary" class ="form-check-input"  type="submit"  value="Apply Filter"></button>

</form>



		
</div>



</div> 

	
    
    
    
 
  

       
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="/static/js/jqcloud.min.js"></script>
  <script type="text/javascript" src="/static/js/cloud-script.js"></script>
<script src='/static/js/Chart.min.js'></script>




  <!-- Menu Toggle Script -->
  <script>
	var words_data = {{ word_cloud_data|tojson|safe }};
 	//var words_data = $.parseJSON({{word_cloud_data}});
       // we will build a word cloud into our div with id=word_cloud
       // we have to specify width and height of the word_cloud chart
       $('#word_cloud_small').jQCloud(words_data, {
           width: 800,
           height: 600
       });


    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });


   



	
  </script>

</body>

</html>
