
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Disputool</title>
  <link href="/static/css/clean-blog.min.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/simple-sidebar.css" rel="stylesheet">
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="/static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin.css" rel="stylesheet">
  <link href="/static/css/talk.css" rel="stylesheet">

  <link rel="stylesheet" href="/static/css/jqcloud.min.css">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="/static/css/clean-blog.min.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/simple-sidebar.css" rel="stylesheet">
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="/static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <!--<link href="/static/css/sb-admin.css" rel="stylesheet">-->




  <!-- Custom fonts for this template -->

  <link href="/static/lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <!-- Nivo Slider Theme -->
  <link href="/static/css/nivo-slider-theme.css" rel="stylesheet">


  <!-- Responsive Stylesheet File -->
  <link href="/static/css/responsive.css" rel="stylesheet">
  <link href="/static/css/clean-blog.min.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/simple-sidebar.css" rel="stylesheet">
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="/static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <!--<link href="/static/css/sb-admin.css" rel="stylesheet">-->
  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="/static/lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
 <!-- Nivo Slider Theme -->
  <link href="/static/css/nivo-slider-theme.css" rel="stylesheet">


  <!-- Responsive Stylesheet File -->
  <link href="/static/css/responsive.css" rel="stylesheet">
  <link href="/static/css/my_style.css" rel="stylesheet">

  <!-- Custom styles for this template -->
<!-- <link href="/static/css/style.css" rel="stylesheet">-->

</head>

<body>

  <header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <!-- Navigation -->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <a class="navbar-brand  sticky-logo " target="_blank" href="http://www.uni.lu"><img class = "header_logo" src="/static/images/UL_logo_80x80.png" alt="University of Luxembourg Logo" title="University of Luxembourg"/>  </a>
                <a class=" navbar-brand page-scroll sticky-logo floatright header_logo" target="_blank" href="https://univ-cotedazur.eu/"><img class = "header_logo" src="/static/images/cotdazure.png" alt="Université Côte d'Azur" title="Université Côte d'Azur"/ height = "80"></a>

              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class=" main-menu bs-example-navbar-collapse-1" id="navbar-example">
                <ul class="nav navbar-nav navbar-right" id ="main_menu">
                  <li>
                    <a class="" href="/">Home</a>
                  </li>
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Explore<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <!--<li><a href=/explore >All arguments</a></li>-->
                      <li><a class="" href="/ner">Named Entities</a></li>
                    <!--  <li><a href=/index >By Year</a></li>-->
                  </ul>
                  </li>
                  <li >
                    <a  href="/form">Test Model</a>
                  </li>
                  <li>
                    <a class="" href="/legalnotice">Legal Notice</a>
                  </li>
                 <li>
                    <a class="" href="/contact">Contact</a>
                  </li>
                </ul>
              </div>

              <!-- navbar-collapse -->
            </nav>
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->
  </header>


  <div class="d-flex" id="wrapper">


    <div id="page-content-wrapper" >

  <div class="container" >



<input id="date" name="date" type="hidden" value={{date}} />
<div class = row>
<div class="col-md-12 col-sm-12 col-xs-12" >
<h1 id="date" >{{date}}</h1>



<h3 > Filter</h3>

<input type="checkbox" id="claim_cb" class ="form-check-input"  name="claim" value='claim' > <span class="claim-color"><b>Highlight Claims.</b></span></input>

<br>
<input type="checkbox" id="premise_cb" class ="form-check-input"  name="premise" value='premise' > <span class="premise-color"><i>Highlight Premises.</i></span></input>


</div>
</div>


<!--<h1 id="debate_date">{{date}}</h1>-->

       <div class="row">
   <div class="col-sm-12">
  {{chat|safe}}
      </div>

</div>

  <footer>
    <div class="footer-area">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                      <img src="/static/images/logo.png" width = "300px"/>
                </div>
                </div>
            </div>
          </div>  
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                      <a class=" navbar-brand page-scroll sticky-logo floatright" target="_blank" href="http://www.cnrs.fr/"><img src="/static/images/cnrs.png" alt="CNRS" title="cnrs" width="200px" />
                </div>
                </div>
            </div>
          </div>


          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
    <!--<h4>information</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <div class="footer-contacts">
                  <p><span>Tel:</span> +123 456 789</p>
                  <p><span>Email:</span> contact@example.com</p>
                  <p><span>Working Hours:</span> 9am-5pm</p>
                </div>-->
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                
               <!-- <h4>Instagram</h4>
                <div class="flicker-img">
                  <a href="#"><img src="img/portfolio/1.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/2.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/3.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/4.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/5.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/6.jpg" alt=""></a>
                </div>-->



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-area-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="copyright text-center">
              <p>
                Copyright © <a href="http://www.uni.lu">Université du Luxembourg (2019)</a>. All rights reserved.</br>
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </p>
            </div>
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
              -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>
</div>
</div>
  <!-- Bootstrap co    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });re JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="/static/vendor/chart.js/Chart.min.js"></script>
  <script src="/static/vendor/datatables/jquery.dataTables.js"></script>
  <script src="/static/vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
<!--  <script src="/static/js/sb-admin.min.js"></script>-->

  <!-- Demo scripts for this page-->
  <script src="/static/js/demo/datatables-demo.js"></script>
  <script src="/static/js/demo/chart-area-demo.js"></script>
	<script src="/static/js/clean-blog.min.js"></script>
  <script src="/static/lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
 <script src="/static/js/main.js"></script>

  <!-- Menu Toggle Script -->
  <script>



  	$("#claim_cb").change(function() {
     	 if(this.checked) {
  		$(".claim").addClass("claim-color");
  		$(".claim").css("font-weight","bold");


  		   }
  	else{
  		$(".claim").removeClass("claim-color");
  		$(".claim").css("font-weight","");
  		}});
  	$("#premise_cb").change(function() {
     	 if(this.checked) {
  		$(".premise").addClass("premise-color");
  		$(".premise").css("font-style","italic");	 }
  	else{
  		$(".premise").removeClass("premise-color");
  		$(".premise").css("font-style","");
  }});

      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });


      $(".debater-pic > img").css("height", "120px");


  </script>

</body>

</html>
