
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Disputool</title>
  <link href="/static/css/clean-blog.min.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/simple-sidebar.css" rel="stylesheet">
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="/static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin.css" rel="stylesheet">
  <link href="/static/css/talk.css" rel="stylesheet">

  <link rel="stylesheet" href="/static/css/jqcloud.min.css">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="/static/css/clean-blog.min.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/simple-sidebar.css" rel="stylesheet">
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="/static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <!--<link href="/static/css/sb-admin.css" rel="stylesheet">-->




  <!-- Custom fonts for this template -->

  <link href="/static/lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
  <!-- Nivo Slider Theme -->
  <link href="/static/css/nivo-slider-theme.css" rel="stylesheet">


  <!-- Responsive Stylesheet File -->
  <link href="/static/css/responsive.css" rel="stylesheet">
  <link href="/static/css/my_style.css" rel="stylesheet">
  <link href="/static/css/clean-blog.min.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/simple-sidebar.css" rel="stylesheet">
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="/static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <!--<link href="/static/css/sb-admin.css" rel="stylesheet">-->
  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href="/static/lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
 <!-- Nivo Slider Theme -->
  <link href="/static/css/nivo-slider-theme.css" rel="stylesheet">


  <!-- Responsive Stylesheet File -->
  <link href="/static/css/responsive.css" rel="stylesheet">
  <link href="/static/css/my_style.css" rel="stylesheet">

  <!-- Custom styles for this template -->
<!-- <link href="/static/css/style.css" rel="stylesheet">-->

</head>

<body>

  <header>
    <!-- header-area start -->
    <div id="sticker" class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <!-- Navigation -->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <!-- Brand -->
                <a class="navbar-brand  sticky-logo" target="_blank" href="http://www.uni.lu"><img src="/static/images/UL_logo_80x80.png" alt="University of Luxembourg Logo" title="University of Luxembourg"/>	</a>
                <a class=" navbar-brand page-scroll sticky-logo floatright" target="_blank" href="http://www.c2dh.uni.lu"><img src="/static/images/logo_C2DH_web.jpg" alt="C2DH Logo" title="C2DH"/ height = "80"></a>
                <a class="navbar-brand page-scroll sticky-logo floatright" target="_blank" href="http://dhh.uni.lu"><img src="/static/images/dtulogo.png" alt="Digital history and Hermunetics" title="Digital history and Hermunetics"/ height = "80"></a>

              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class=" main-menu bs-example-navbar-collapse-1" id="navbar-example">
                <ul class="nav navbar-nav navbar-right" id ="main_menu">
                  <li>
                    <a class="" href="/">Home</a>
                  </li>
                  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Explore<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <!--<li><a href=/explore >All arguments</a></lsi>-->s
                      <li><a class="" href="/ner">Named Entities</a></li>
                    <!--  <li><a href=/index >By Year</a></li>-->
                  </ul>
                  </li>
                  <li class="">
                    <a  href="/form">Test Model</a>
                  </li>
                  <li>
                    <a class="" href="/legalnotice">Legal Notice</a>
                  </li>
                 <li>
                    <a class="" href="/contact">Contact</a>
                  </li>
                </ul>
              </div>

              <!-- navbar-collapse -->
            </nav>
            <!-- END: Navigation -->
          </div>
        </div>
      </div>
    </div>
    <!-- header-area end -->
  </header>


  <div class="d-flex" id="wrapper">


    <div id="page-content-wrapper" >

  <div class="container" >
    <div class="row">
    <!-- <div class="col-sm-8"><div id="word_cloud">

       </div>-->
    <div class="col-sm-8"><div id="word_cloud_small">


       </div>

   </div>

     <div class="col-sm-4" >
   <h2>Filter data</h2>
   <div class = 'filter'>
   <form method="POST">
     <h3>Based on Year:</h3>

     <div >

       {% for year in years: %}

       {%if year in filtered_years%}

         <input type="checkbox" class ="form-check-input" name="year" value={{year}} checked > {{year}}</input>
         {%else%}
         <input type="checkbox" class ="form-check-input" name="year" value={{year}} > {{year}}</input>
         {% endif %}
       <br>


       {% endfor %}
      </div>
   <h3>Based on NER Type:</h3>
     <div >

       {% for tag in tags: %}
         {%if tag in filtered_tags%}

         <input type="checkbox" class ="form-check-input"  name="tag" value={{tag}} checked> {{tag}}</input>
         {%else%}
         <input type="checkbox" class ="form-check-input"  name="tag" value={{tag}} > {{tag}}</input>
         {% endif %}


       <br>

       {% endfor %}
       </div>
     <h3>Based on Speaker:</h3>
     <div >

       {% for name in names: %}
       {%if name in filtered_names%}

         <input type="checkbox" class ="form-check-input" name="name" value='{{name}}' checked> {{name}}</input>
         {%else%}
         <input type="checkbox" class ="form-check-input" name="name" value='{{name}}' > {{name}}</input>
         {% endif %}


       <br>

       {% endfor %}
     </div>

         <input  class="btn btn-primary" class ="form-check-input"  type="submit"  value="Apply Filter"></button>

   </form>


   </div>
   </div>
         </div>


 <!-- Start Footer bottom Area -->
  <footer>
    <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                      <img src="/static/images/logo.png" width = "300px"/>
                </div><!-- ford-logo -->
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
		<!--<h4>information</h4>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p>
                <div class="footer-contacts">
                  <p><span>Tel:</span> +123 456 789</p>
                  <p><span>Email:</span> contact@example.com</p>
                  <p><span>Working Hours:</span> 9am-5pm</p>
                </div>-->
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
               <!-- <h4>Instagram</h4>
                <div class="flicker-img">
                  <a href="#"><img src="img/portfolio/1.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/2.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/3.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/4.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/5.jpg" alt=""></a>
                  <a href="#"><img src="img/portfolio/6.jpg" alt=""></a>
                </div>-->



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-area-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="copyright text-center">
              <p>
                Copyright © <a href="http://www.uni.lu">Université du Luxembourg (2019)</a>. All rights reserved.</br>
	               Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </p>
            </div>
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
              -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>
</div>
</div>
  <!-- Bootstrap co    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });re JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="/static/vendor/chart.js/Chart.min.js"></script>
  <script src="/static/vendor/datatables/jquery.dataTables.js"></script>
  <script src="/static/vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
<!--  <script src="/static/js/sb-admin.min.js"></script>-->

  <!-- Demo scripts for this page-->
  <script src="/static/js/demo/datatables-demo.js"></script>
  <script src="/static/js/demo/chart-area-demo.js"></script>
	<script src="/static/js/clean-blog.min.js"></script>
  <script src="/static/lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
 <script src="/static/js/main.js"></script>

 <script src="/static/vendor/jquery/jquery.min.js"></script>
 <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

   <script type="text/javascript" src="/static/js/jqcloud.min.js"></script>
 <script type="text/javascript" src="/static/js/cloud-script.js"></script>
<script src='/static/js/Chart.min.js'></script>

  <!-- Menu Toggle Script -->
  <script>
  var words_data = {{ word_cloud_data|tojson|safe }};
  //var words_data = $.parseJSON({{word_cloud_data}});
       // we will build a word cloud into our div with id=word_cloud
       // we have to specify width and height of the word_cloud chart
       $('#word_cloud_small').jQCloud(words_data, {
           width: 640,
           height: 480
       });


      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });


  </script>

</body>

</html>
